name: pdf

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Install Python packages
      run: |
        pip install bibtexparser ads
        pip install numpy jinja2 pandas

    - name: Create the TeX file
      run: |
        python make.py --no-compile

    - name: Typeset the TeX file
      uses: xu-cheng/latex-action@master
      with:
        root_file: cv.test.tex
        args: -xelatex -file-line-error -interaction=nonstopmode
      
    - name: Push paper
      run: |
        cp cv.test.pdf cv.JoaoFaria.pdf
        git checkout --orphan pdf
        git rm -rf .github/
        git rm -rf . 
        git add -f cv.JoaoFaria.pdf
        git -c user.name='pdf-action' -c user.email='pdf-action' commit -m "update pdf"
        git push -q -f https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} pdf
